@using RentACar.Models;
@{
    var vehicles = (List<GalleryViewModel>)ViewBag.GalleryVehicles;
}

<!-- //gallery -->
<div class="gallery" id="gallery">
    <!-- gallery -->
    <div class="container">
        <div class="wthree_title_agile">
            <h3> Our <span>Latest</span>  Cars </h3>
        </div>
        <div class="inner_w3l_agile_grids">
            @{
                int col4Counter = 0;
                int col6Counter = 0;
                bool col4Turn = true;
            }
            <script>
                console.log('Total vehicles: ' + @vehicles.Count);
            </script>
            @foreach (var vehicle in vehicles)
            {
                if (string.IsNullOrWhiteSpace(vehicle.ImagePath))
                {
                    vehicle.ImagePath = ApplicationWideData.DefaultImageValue;
                }
                <script>
                    console.log('Current vehicle image path: @vehicle.ImagePath');
                </script>
                if (col4Turn)
                {

                    <div class="col-md-4 gal-gd wow fadeInLeft animated" data-wow-delay=".5s">
                        <a href="#image-meta-@vehicle.Identifier">
                            <div class="nd-wrap nd-style-8" style="height: 300px;">
                                <img src="@Url.Content($@"{ApplicationWideData.StorageRootPath}\{vehicle.ImagePath}")" class="img-responsive" alt=" " />
                                <div class="nd-content">
                                    <div class="nd-content_inner">
                                        <div class="nd-content_inner1">
                                            <h4 class="nd-title">@vehicle.Title</h4>
                                            <span class="nd-icon">
                                                <i class="glyphicon glyphicon-link"></i>
                                            </span>
                                            <span class="nd-icon">
                                                <i class="glyphicon glyphicon-search"></i>
                                            </span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>


                    </div>
                    col4Counter++;
                }
                else
                {
                    <div class="col-md-6 gal-gd-sec wow fadeInLeft animated" data-wow-delay=".5s">
                        <a href="#image-meta-@vehicle.Identifier">
                            <div class="nd-wrap nd-style-8" style="height: 300px;">
                                <img src="@Url.Content($@"{ApplicationWideData.StorageRootPath}\{vehicle.ImagePath}")" class="img-responsive" alt=" " />
                                <div class="nd-content">
                                    <div class="nd-content_inner">
                                        <div class="nd-content_inner1">
                                            <h4 class="nd-title">@vehicle.Title</h4>
                                            <span class="nd-icon">
                                                <i class="glyphicon glyphicon-link"></i>
                                            </span>
                                            <span class="nd-icon">
                                                <i class="glyphicon glyphicon-search"></i>
                                            </span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>


                    </div>
                    col6Counter++;
                }
                if (col4Turn)
                {
                    if (col4Counter == 3)
                    {
                        col4Counter = 0;
                        col4Turn = false;
                    }
                }
                else
                {
                    if (col6Counter == 2)
                    {
                        col6Counter = 0;
                        col4Turn = true;
                    }
                }
            }


            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //gallery -->
