@using RentACar.Models;
@{
    var vehicles = (List<GalleryMetaViewModel>)ViewBag.GalleryMetaVehicles;
}

<div class="container-fluid" id="image-meta-data">
    @foreach (var vehicle in vehicles)
    {
        <div class="lb-overlay" id="image-meta-@vehicle.Identifier">
            @if (string.IsNullOrEmpty(vehicle.ImagePath))
            {
                vehicle.ImagePath = ApplicationWideData.DefaultImageValue;
            }
            <img src="@Url.Content($@"{ApplicationWideData.StorageRootPath}\{vehicle.ImagePath}")" alt="image1" />
            <div class="gal-info">
                <h3>@vehicle.Title by @vehicle.Make (@vehicle.Year)</h3>
                <p style="font-weight:bold">@vehicle.Category.Title</p>
                <p style="font-weight:bold">@vehicle.Transmission Transmission</p>
                <p style="font-weight:bold">Rs. @vehicle.Fare1 (For less than 14 days)</p>
                <p style="font-weight:bold">Rs. @vehicle.Fare2 (For less than 30 days)</p>
                <p style="font-weight:bold">Rs. @vehicle.Fare1 (For more than 30 days)</p>
                <button id="vehiclemeta-RequestBooking-@vehicle.Identifier" type="button" class="btn-custom" data-btn-vehiclemeta-book data-category="@vehicle.Category.Id" data-vehicle="@vehicle.Identifier">
                    Request Booking
                </button>
            </div>
            <a href="#" class="lb-close" onclick="event.preventDefault(); window.history.back()">Close</a>
        </div>
    }
</div>

